:root {
    --bs-primary: #5698c3;
    --bs-primary-rgb: 86, 152, 195;
    --bs-secondary: #C07300;
    --bs-secondary-rgb: 238, 143, 0;
    }
body {
    font-family: 'Noto Sans TC', sans-serif;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    font-family: 'Noto Sans TC', sans-serif;
    text-transform: none;
}

.subheading {
    font-family: 'Noto Sans TC', sans-serif;
    text-decoration: none;
    text-transform: none;
}
.social-icon2{
    color:#495057;
    text-decoration: none;
    text-transform: none;
}
.social-icon2:hover{
   background-color:#fff;
   color: var(--bs-primary);
}

table{
    width: 100%;
    border-collapse: collapse;
}

th, td{
    text-align: left;
    border: 1px solid black;
}

th:nth-child(odd){
    background-color: #5698c3;
    color: #ffffff;
}

td:nth-child(odd){
    background-color: #5698c3;
    color: #ffffff;
}